{% extends 'base.html' %}

{% block title %}
    <title>Employee List</title>
{% endblock title %}

{% block content %}
    <h1 style="text-align: center; padding-top: 1em; padding-bottom: 1em;">Employees Information</h1>

    <!-- Search section  -->
    <div class="center-form" style="display: flex; justify-content: center;">
        <form action="{% url 'employees-list' %}" method="GET" style="width: 500px;">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Search by employee name, role, or salary" aria-label="" aria-describedby="basic-addon1" style="margin-right: 10px;"
              name="search_query" value="{{ search_query }}"/>
    
              <input class="btn btn-success" type="submit" value="Search"/>
            </div>
        </form>
    </div>
    <br>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Contact</th>
                <th scope="col">Role</th>
                <th scope="col">Salary</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for emp in employees %}
                <tr>
                    <th scope="row">{{ emp.emp_name }}</th>
                    <td>{{ emp.emp_email }}</td>
                    <td>{{ emp.emp_contact }}</td>
                    <td>{{ emp.emp_role }}</td>
                    <td>{{ emp.emp_salary }}</td>
                    <td>
                        <a style="margin-right: 30px;" href="{% url 'edit-employee' emp.id %}">Edit</a>
                        <a href="{% url 'delete-employee' emp.id %}">Remove</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="text-center">
        <a href="{% url 'create-employee' %}"><button type="button" class="btn btn-primary">Add New Info</button></a>
    </div>
{% endblock content %}